#title{
    background-color: rgb(181, 181, 160);
    color: #fff;
    padding: 1%;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    /* line-height: 1; */
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
p{
    font-size: large;
    color: #797676;
}
.container-fluid{
    padding: 3% 15%;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* navigation bar */

.navbar{
    padding-bottom: 4.5rem;
}

.nav-item{
    padding: 0 18px;
}


.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 0.3%;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar-nav{
    padding-right: 15%;
}

/* download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
}

/* features section  */
#features{
    padding: 7% 18%;
}
.featurebox{
    text-align: center;
    padding: 5%;
}
.icon{
    color: rgb(91, 91, 82);
    margin-bottom: 10%;
}
.icon:hover{
    color: #a19b9b;
}

/* testimonial section  */
#testimonials{
    padding: 2% 5%;
    text-align: center;
    background-color: rgb(181, 181, 160);
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 40px 20px 20px;
}
.carousel-item{
    padding: 11% 18%;
}
#press{
    background-color: rgb(181, 181, 160);
    text-align: center;
    padding-bottom: 1%;
}
.press-logo{
    width: 10%;
    margin: 0px 30px 50px;
}

/* pricing section */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
